.loginModal {
    display: flex;
    flex-direction: column;
    z-index: 3;
    background: #304b63;
    /* border: 3px solid white; */
    border-radius: 10px;
    color: white;
    /* padding: 35px; */
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 3;
    gap: 15px;
}
