.mainProductContainer {
    display: flex;
    justify-content: center;
}

/* ------------------ Left Side Image Container ---------------------- */

.leftSideContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    height: 425px;
}

.trackWebLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4vw;
    gap: 5px;
    height: 30px;
}

.singleProductImage {
    height: 335px;
    width: auto;
}

.innerImagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    background-color: lightgrey;
}


/* ------------------ Right Side Info Container ---------------------- */

.rightSideContainer {
    display: flex;
    flex-direction: column;
    width: 45vw;
}

.SPCategory {
    padding: 5px 5px 0px 5px;
    font-size: 18px;
    margin-left: 10px;
}

.SingleProductName {
    font-size: 30px;
    font-weight: 600;
    padding-inline: 10px;
}

.numReviews {
    font-size: 18px;
    padding: 5px;
    margin-left: 10px;
}

.SPdescription {
    padding: 5px;
    height: 70px;
    font-size: 18px;
    margin-left: 10px;
}

.singleProductSpan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}


.miniLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 8px;
}

.miniLogoText {
    margin: 0px;
}

.singleProdHR {
    border: 1px solid #ddc8ad;
    width: 100%;
    position: relative;
    left: 20px;
}

.selectQuantityTitle {
    margin-top: 3px;
    margin-left: 47px;
}

.selectPricesContainer {
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    gap: 10px;
    margin-block: 15px;
}

.multiBuy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 90px;
    padding: 5px;
    gap: 8px;
    cursor: pointer;
    border: 1px solid #ddc8ad;
    border-radius: 5px;
}

.multiBuy:hover {
    /* color: rgb(211, 116, 1); */
    background-color: lightgray;
    box-shadow: 0px 0px 2px 3px #ddc8ad;
}

/* ------------------ Reviews Lower Container ---------------------- */

.lowerProductSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productReviewsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.reviewsTitle {
    font-size: 40px;
}

.avgReviewSpan {
    display: flex;
}

.addAReviewButton {
    align-self: baseline;
    padding-block: 6px;
    padding-inline: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(211, 116, 1);
}

.productReviewsContainter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75vw;
    height: auto;
    /* border: 1px solid lightblue; */
}

.singleReviewContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 3px solid black;
}

.reviewInfoContainer {
    width: 400px;
}

.reviewDateContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.reviewNameSpan {
    display: flex;
    flex-direction: row;
}

.bold {
    font-weight: bold;
}

.reviewDateDiv {

}


.conditionalReviewButtonSpan {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
