.mainProductContainer {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

/* ------------------ Left Side Image Container ---------------------- */

.leftSideContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    height: 55vh;
}

.trackWebLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4vw;
    gap: 5px;
    height: 30px;
}

.singleProductImage {
    height: 335px;
    width: auto;
}

.innerImagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: lightgrey;
}


/* ------------------ Right Side Info Container ---------------------- */

.rightSideContainer {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 55vh;
    border: 1px solid red;

}

.SPCategory {
    padding: 5px;
    font-size: 18px;
}

.SingleProductName {
    font-size: 30px;
    font-weight: 600;
    padding: 5px;
}

.numReviews {
    font-size: 18px;
    padding: 5px;
}

.SPdescription {
    padding: 5px;
    height: 70px;
    font-size: 18px;
}

.singleProductSpan {
    display: flex;
    flex-direction: row;
}

.selectPricesContainer {
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    gap: 10px;
    margin-block: 20px;
}

.multiBuy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100px;
    padding: 5px;
    gap: 8px;
    cursor: pointer;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

/* ------------------ Reviews Lower Container ---------------------- */

.lowerProductSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
}

.productReviewsHeader {
    border: 1px solid pink;
}

.addAReviewButton {
    align-self: baseline;
}

.productReviewsContainter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75vw;
    height: auto;
    border: 1px solid lightblue;
}

.singleReviewContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid orange;
}

.reviewDateContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid yellow;
}

.reviewNameSpan {
    display: flex;
    flex-direction: row;
}
