.footerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.woodGrain {
    height: 375px;
    width: 1100px;
    background-color: #345a40;
    position: relative;
    bottom: -275px;
    z-index: -1;
}

.footerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
}

.bCorpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpLogo {
    height: 164px;
}

.fa-brands {
    color: white;
    font-size: 22px;
    padding: 3px;
}

.paymentSpan {

}

.paymentLogos {
    height: 16px;
    padding: 7px;
}

.rightsReserved {
    color: #e5d0bb;
    cursor: default;
    margin-bottom: 20px;
}
