.landingPageMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------------------- First Ad ------------------------ */

.landingFirst {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 436px;
    width: 1100px;
}

.firstAdContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 315px;
}

.avBG {
    position: absolute;
    top: 80px;
    width: 1100px;
    height: 436px;
    z-index: -1;
}

.firstAdTitle {
    display: flex;
    justify-content: center;
    position: relative;
    /* top: 7px; */
    width: 345px;
    padding: 5px;
    font-weight: 600;
    border: 2px solid black;
    background-color: rgb(255, 213, 0);
    cursor: default;
}

.firstAdSpan {
    display: flex;
    flex-direction: column;
    width: 327px;
    padding-block: 20px;
    gap: 20px;
    background-color: white;
    border: 2px solid black;
    cursor: default;
}

.ad1Description {
    font-size: medium;
    font-weight: 600;
}

.avTile1 {
    height: 425px;
}

.avLogo {
    width: 245px;
}

/* ---------------------- Second Ad ------------------------ */

.adTitle {
    color: white;
    cursor: default;
    margin: 0px;
    font-size: 22px;
}

.adDescription {
    color: white;
    font-size: 18px;
}

.secondAdContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-block: 50px;
}

.bundleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 510px;
    border: 4px solid #ddc8ad;
    border-radius: 10px;
}

.LandingBundle1 {
 height: 300px;
}

.bundleSloganSpan{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 76%;
    background: #304b63;
    border: 4px solid #ddc8ad;
    border-radius: 10px;
}

.SecondAdRightSideContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.BarSoapsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #345A40;
    width: 526px;
    height: 232px;
    border-radius: 10px;
}

.singlePineTar {
    height: 200px;
}

.facewashContainer {
    width: 256px;
    height: 270px;
    border-radius: 10px;
}

.faceWash {
    width: 256px;
    height: 270px;
    border-radius: 10px;
 }

#barSoaps{
    position: relative;
    top: 56px;
}

#faceWash {
    position: relative;
    bottom: 83px;
    left: 20px;
}

#deo {
    position: relative;
    left: 45px;
    top: 64px;
}

.bayRum {
    height: 200px;
}

.faceAndDeoSpan {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.deoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 270px;
    width: 256px;
    background: #345A40;
    border-radius: 10px;
}

/* ---------------------- Third Ad ------------------------ */


.thirdAdContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-block: 70px;
    width: 1100px;
}

.greenSpan {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.greenImages {
    height: 60px;
    margin: 5px;
}

.greenImagesTitle {
    font-weight: bold;
    color: #345A40;
    margin: 10px;
    font-size: 18px;
    cursor: default;
}

.greenDescription {
    color: #345A40;
    font-size: 16px;
    margin: 3px;
    cursor: default;
}
