
/* -------------------- Products Ad Banner ---------------------- */

.ProductsImageBanner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 205px;
}

.avBGBanner {
    width: 97vw;
    height: 28vh;
    position: absolute;
}
.centerAvengersSpan {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.avengerProductsLogo {
    width: 200px;
}

.avengerSoap {
    height: 155px;
    z-index: 1;
}

.productsAdTitle {
    display: flex;
    justify-content: center;
    width: 400px;
    font-weight: 600;
    padding: 2px;
    border: 2px solid black;
    background-color: rgb(255, 213, 0);
}

.productsAdDescription {
    font-size: medium;
    font-weight: 500;
    width: 350px;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
}

.outerProductsContainer {
    display: flex;
    flex-direction: row;
}

/* ----------------------- SideBar List ------------------------ */

.productListBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: auto;
}

.sidebarTitle {
    font-size: 20px;
}

.sidebarLinks {
    background-color: transparent;
    padding: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.sidebarLinks:hover {
    color: darkorange;
}

/* ----------------------- Main Products Container ------------------------ */

.mainProductsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 1250px;
    height: auto;
    padding: 10px;
    gap: 10px;
}

.productContainer {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    cursor: pointer;
    gap: 4px;
}

.productContainer:hover {
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.productsImageContainer {
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 50%;
}

.productsImage {
    align-self: center;
    height: 100px;
    width: auto;
}

.productsName {
    margin: 0px;
    padding: 5px;
}

.productsPrice {
    margin: 0px;
    margin-left: 5px;
    padding: 1px;
    font-weight: 600;
    color: #4aad4a;
}

.productsDescription {
    margin: 0px;
    padding: 5px;
}

.productsReviewsDiv {
    margin-left: 5px;
    padding-bottom: 5px;
}

/* ------------------------  Add to Cart Button ------------------------------ */

.addToCartButton {
    align-self: center;
    width: 80%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(211, 116, 1);
    font-weight: bold;
    cursor: pointer;
}

.addToCartButton:hover {
    box-shadow: inset 0px 0px 10px 15px rgba(255, 255, 255, 0.40);
}
