/* ----------------------- Cart ----------------------- */

.cart-modal {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 99.9vh;
    background: linear-gradient(to bottom, #7B9B7E 19.39%, #97B399 59.52%);
    /* background-color: darkslategrey; */
    z-index: 2;
    border-left: 2px solid black;
}


.cart-content {
    display: flex;
    height: 99.5%;
    flex-direction: column;
}

/* ----------------------- Cart Header ----------------------- */

.cartHeader {
    padding: 10px;
    border-bottom: 1px solid black;
}

.cartTitleSpan {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exitButton {
    height: 25px;
}

.close-review-modal {
    background-color: transparent;
    cursor: pointer;
}

/* ----------------------- Cart Body ----------------------- */

.quantityContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.innerQuantityContainer {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.shoppingCart {
    height: 30px;
    background-color: transparent;
}

.shoppingCartItems {
    height: 100%;
    overflow-y: scroll;
}

.shoppingCartItems::-webkit-scrollbar {
    display: none;
  }

/* ----------------------------- Shopping Cart Item Div ---------------------- */
.shoppingCartItem {
    display: flex;
    justify-content: space-between;
    height: 80px;
    border: 1px solid black;
    background-color: grey;
}

.cartItemInfoSpan {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.cartItemImageDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    background-color: lightgray;
}

.cartItemPhoto {
    height: 55px;
}

.cartItemDescriptionDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5px;
}

.CartProductName {
    font-weight: bold;
    margin: 0px;
}

.cartPriceSpan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cartPriceDiv {
    font-weight: bold;
}

.cartRemoveButton{
    border-radius: 5px;
    padding-block: 3px;
    padding-inline: 6px;
    font-size: 14px;
    border: none;
    color: white;
    background-color: rgb(211, 116, 1);
    cursor: pointer;
}

.changeQuantity {
    border-radius: 5px;
    font-size: 19px;
    border: none;
    color: white;
    background-color: rgb(211, 116, 1);
    cursor: pointer;
}

.reserve-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(211, 116, 1);
}

.reserve-button:hover {
    box-shadow: inset 0px 0px 10px 15px rgba(255, 255, 255, 0.40);
}

/* ----------------------- Cart Footer ----------------------- */

.checkoutFooter {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 10px;
    border-top: 1px solid black;
}

.subTotalSpan {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
