.reviewModalOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
}

.reviewModal {
    display: flex;
    flex-direction: column;
    background: #304b63;
    border: 4px solid #ddc8ad;
    border-radius: 10px;
    align-items: center;
    padding: 40px;
}

.ReviewFormModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
    padding: 40px;
    border-radius: 10px;
}

.modalTitles,
.ConfirmModalTitles {
    color: white;
}

.editReviewTitles {
    color: white;
    align-self: baseline;
    font-size: 20px;
}

.confirmButtonSpan {
    display: flex;
    gap: 50px;
    padding-top: 25px;
}

.confirmButton,
.reviewModalButtons {
    padding: 4px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(211, 116, 1);
}


select {
    padding: 5px 1px;
}

input {
    padding: 5px 8px;
}

.postalCodeInput {
    width: 169px;
}


.whiteChangeUserProfile {
    color: white;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px;

}
